@import './vendors/reset';
@import './utils/mixins';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

body{
    background-color: rgb(250, 255, 160);
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    h1{
        margin-top: 5px;
        font-size: 25px;
        text-decoration: underline;
    }
    h3{
        font-size: 20px;
        text-decoration: underline dotted;
    }
    .weatherForm{
        background-color: rgb(85, 195, 200);
        border: 2px solid black;
        padding: 10px;
        border-radius: 20px;
        margin: 20px;
        .cityInput{
            background-color: lightgrey;
            border-radius: 20px;
            border-color: black;
            margin-top: 10px;
        }
        .submitBtn{
            background-color: rgb(255, 170, 170);
            border-radius: 20px;
        }
        .autocomplete{
            width: 200px;
            position: relative;
            display: inline-block;
        }
        .autocomplete-items {
            position: absolute;
            border: 1px solid #d4d4d4;
            border-bottom: none;
            border-top: none;
            z-index: 99;
            /*position the autocomplete items to be the same width as the container:*/
            top: 100%;
            left: 0;
            right: 0;
            div {
                padding: 10px;
                cursor: pointer;
                background-color: #fff;
                border-bottom: 1px solid #d4d4d4;
                &:hover {
                    /*when hovering an item:*/
                    background-color: #e9e9e9;
                }
            }
        }
        .autocomplete-active {
            /*when navigating through the items using the arrow keys:*/
            background-color: DodgerBlue !important;
            color: #ffffff;
        }
    }
    .dayCard{
        border: 2px solid black;
        border-radius: 20px;
        background-color: rgb(85, 195, 200);
        margin-bottom: 10px;
        padding: 10px;
        margin: 20px;
        .icon{
            border: 1px solid gray;
            border-radius: 100%;
            margin-top: 5px;
            margin-bottom: 5px;
            background-color: rgb(255, 170, 170);
        }
    }
}